/* Style the form container */
form {
    margin: 20px auto;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Style labels and input fields */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 12px; /* Slightly increased padding for better input size */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove default input outlines for cleaner look */
}

/* Style the submit button */
input[type="submit"] {
    background-color: #898989; /* Changed to a more appealing color */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth hover transition */
}

input[type="submit"]:hover {
    background-color: #606060; /* Darker color on hover */
}

/* Style the "Go Back" button */
button {
    background-color: #aaaaaa; /* Changed to a neutral color */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth hover transition */
}

button:hover {
    background-color: #888888; /* Darker color on hover */
}
