h1 {
    margin: 0 0 20px;
}

body {
    background-color: #ffffff;
    padding-top: 25px;
    margin: 0;
    padding: 0;
}

#add-drive-form {
    text-align: left;
    display: block;
    min-width: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;    
    box-shadow: 0px 0px 10px #888888;
    padding: 15px;
}

#add-drive {
    margin: 10px;
}

#container.center {
    margin-left: 50px;
    margin-top: 50px;
}

#verify-drive-container {
    border-bottom: 20px;
}

.center {
    margin: auto;
    width: 50%;
}

#container {
    padding: 40px;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    display: block;
}

li {
    margin: 20px 0; 
}

.submit {
    font-weight: bold;
    font-display: uppercase;
    color: #fff;
    border: none;
    background-color: #1565c0;
    padding: 10px 25px;
}

label {
    margin-bottom: 10px;
}

.text {
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: #d4dadc;
    display: block;
    padding: 5px;
}

.time {
    display: flex;

}

.left {
    margin-right: 10px;
}

table, th, td {
    border: 1px solid #048727;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}


table {
    text-decoration: solid;
    font-size: 14px;
    width: 1000px;
}


#h1-history {
    margin-top: 20px;
}

#submit-verify {
    float: right;
    cursor: pointer;
}