h1 {
    margin: 0 0 20px;
}

body {
    background-color: #CFFCFF;
    padding-top: 25px;
}

#add-drive-form {
    text-align: left;
    display: block;
    min-width: 500px;
    width: 500px;
    background-color: white;
    border-radius: 25px;    
    box-shadow: 0px 0px 10px #888888;
    padding: 15px;
}

#add-drive {
    margin: 10px;
}

#verify-drive-container {
    border-bottom: 20px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    display: block;
}

li {
    margin: 20px 0; 
}

.submit {
    font-weight: bold;
    font-display: uppercase;
    color: #fff;
    border: none;
    background-color: #1565c0;
    padding: 10px 25px;
}

label {
    margin-bottom: 10px;
}

.text {
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: #d4dadc;
    display: block;
    padding: 5px;
}

.time {
    display: flex;

}

.left {
    margin-right: 10px;
}

table, th, td {
    border: 1px solid #048727;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
  }


table, caption {
    text-decoration: solid;
    font-size: 14px;
}



