body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        border: 3px solid #048727;
        padding: 10px;
       text-align: center;
       width: 200px;
background-color: #CFFCFF;
  }
