html {
  border: solid 50px;
  border-color: #cffcff;
  border-right: none;
  border-left: none;
  background-image: url(../Images/gov-sa-logo.png), url(../Images/sa-logo.png),
    url(../Images/carNB.png), url(../Images/CityScapeBackground.png);
  background-size: 190px, 145px, 600px, 2000px;
  background-repeat: no-repeat;
  background-position: top 0px right 10px, top 0px right 205px,
    left 0px bottom 0px, left 0px bottom 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #69626d;
  border-radius: 5px;
  background-color: #cffcff;
  padding: 10px 30px 0px 30px;
  text-align: center;
}

.sign-up-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 5px 0px;
}

.radio-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  height: 36px;
}

.sign-up-submit {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #8b8b8c;
  color: #fff;
  cursor: pointer;
}

.sign-up-submit:hover {
  background-color: #454545;
}
