
html{
  z-index: 1;
    border: solid 50px;
    border-color:  #F7B32B;
    border-right: none;
    border-left: none;

  }

  body{
    z-index: 0;
  }

  h4{
    z-index: 3;
    background-color: #F7B32B;
  }